@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #001219;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono',monospace;
  letter-spacing: -7px;
}
